.review-item{
    display: flex;
    border: 2px solid aliceblue;
    border-radius: 8px;
    width: 560px;
    margin: 21px auto;
    padding: 8px;
    
}
.review-Detilas-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 17px;
}

.review-item img{
    width: 90px;
}
.review-Detilas p{
    margin: 0;
}
.remove-button{
    display: flex;
    align-items: center;
}
.delet-btn{
    height: 50px;
    width: 51px;
    border-radius: 50%;
    border: 0;
    background-color: aliceblue;

}
.delet-btn:hover{
    background-color: aquamarine;
}
.btn-icons{
  font-size: 31px; 
  color: crimson; 
}